In [3]:
import os
import sys
import pandas as pd
sys.path.append('..')

In [4]:
file_path = os.path.join(os.getcwd(), "..\\..\\data\\all-joined-1\\epoch_image_dataframe.csv")
df = pd.read_csv(file_path)
df.head()

,subject,session,epoch_idx,img_id,accessory (sc),animal (sc),appliance (sc),electronic (sc),food (sc),furniture (sc),...,toilet (fc),toothbrush (fc),traffic light (fc),train (fc),truck (fc),tv (fc),umbrella (fc),vase (fc),wine glass (fc),zebra (fc)
0,1,1,0,98,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,10,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,1,2,102,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,3,98,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
subject1_session1 = df[(df['subject'] == 1) & (df['session'] == 1)]
print(f"Subject 1 (Across Sessions):\n\tTotal Trials - {subject1_session1.shape[0]}\n\tTotal Classes - {subject1_session1['img_id'].unique().shape[0]}\n\tClass Repetitions - {int(round(subject1_session1['img_id'].value_counts().mean()))}")

Subject 1 (Across Sessions):
	Total Trials - 3839
	Total Classes - 960
	Class Repetitions - 4

In [32]:
subject1_cross_session = df[df['subject'] == 1]
print(f"Subject 1 (Across Sessions):\n\tTotal Trials - {subject1_cross_session.shape[0]}\n\tTotal Classes - {subject1_cross_session['img_id'].unique().shape[0]}\n\tClass Repetitions - {int(round(subject1_cross_session['img_id'].value_counts().mean()))}")

Subject 1 (Across Sessions):
	Total Trials - 7678
	Total Classes - 960
	Class Repetitions - 8

In [31]:
print(f"Across Subjects:\n\tTotal Trials - {df.shape[0]}\n\tTotal Classes - {df['img_id'].unique().shape[0]}\n\tClass Repetitions - {int(round(df['img_id'].value_counts().mean()))}")

Across Subjects:
	Total Trials - 45980
	Total Classes - 960
	Class Repetitions - 48

In [38]:
subject1_cross_session['img_id'].value_counts().unique()

array([8, 7])